<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.beforedark.loggingservice.mapper.OperationLogMapper">


    <insert id="insert">
        insert into operation_log(user_id, action, ip, detail, operation_time)
        values (#{userId}, #{action}, #{ip}, #{detail}, #{operationTime})
    </insert>
</mapper>
